


html body{
    
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
}

.tippitytop{
    padding: 50px 35px 30px;
    background-color: #2E353A;
}


.tippitytop p:nth-of-type(1){
    font-size: 30px;
}

.midsector{
    background-color: #4367BD;
}

.lowersector{
    background-color:#71A5F3 ;
}

.midsector, .lowersector{
    padding: 50px 25px;
}


b{
    font-size: 1.2em;
}


h3{
    font-size: 3em;
}

 


ul li p{
    line-height: 1;
}

.datez{
    display: inline-block;
    
    background-color: #607D8B ;
}